<h1>GreenCount Dashboard</h1>
<p>Manage your data below:</p>


<p>{{ message }}</p>

<button (click)="fetchData()">Fetch Data</button>
<button (click)="addData()">Add Data</button>

<!-- <div *ngIf="data">
  <pre>{{ data | json }}</pre>
</div> -->


<div *ngIf="isLoading">Loading...</div>
<pre *ngIf="!isLoading">{{ data | json }}</pre>


<div *ngIf="data">
  <table>
    <thead>
      <tr>
        <th>Metric</th>
        <th>Unit</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.Metric }}</td>
        <td>{{ item.Unit }}</td>
        <td>{{ item.Value }}</td>
      </tr>
    </tbody>
  </table>
</div>



